<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <title>visingsområde</title>
    <style>
      #map {width: 800px; height: 500px}
      .clear {clear: both }
      .half-left, .half-right { float: left; width: 49% }
      .half-left {margin-right: 2%; clear: left}
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="addresses" class="half-left">
        <h4>Addresses</h4>
        <ul id="addresses_list">
          {% for loc in locations %}
          {% if loc.address %}
          <li>{{ loc.address }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    <div class="half-right">
      <h4>Start fresh</h4>
      <input id="reset" type="button" value="Reset addresses list"/>
    </div>
    <div class="clear"></div>
    <script>
      function initMap() {
        // Create the viewport map
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: new google.maps.LatLng(41.637086, -0.885620)
        });
        var geocoder = new google.maps.Geocoder;

        // Add a marker when you click
        map.addListener('click', function(event) {
          placeMarker(event.latLng, map, geocoder);
        });

        // Add already available markers
        var marker;
        {% for loc in locations %}
           marker = new google.maps.Marker({position: {lat: {{ loc.lat }},
                                                       lng: {{ loc.lon }} },
                                            map: map});
           markersArray.push(marker);
        {% endfor %}

        // Add listener to reset addresses
        $("#reset").first()[0].addEventListener('click', function() { resetAddresses(map) });
      }

      // To clean the markers
      var markersArray = [];
      function clearOverlays() {
        for (var i = 0; i < markersArray.length; i++ ) {
           markersArray[i].setMap(null);
        }
        markersArray.length = 0;
      }

      // Nothing in the wood or mountain
      var valid_types = new Set(["street_address", "premise",
                                 "intersection", "ward", "locality", "sublocality",
                                 "neighborhood", "airport", "point_of_interest"]);

      // Place a marker if the position has a real address
      function placeMarker(location, map, geocoder) {
        geocoder.geocode({'location': location}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            if (results[0]) {
               console.log("Formatted address: " + results[0]['formatted_address']);
               console.log("Types: " + results[0]['types']);
               for (type of results[0]['types']) {
                 if (valid_types.has(type)) {
                      // Send data to server
                      $.post("{% url 'locations:location-list' %}",
                             { lat: location.lat, lon: location.lng,
                               address: results[0]['formatted_address'] })
                            .done(function (data, status) {
                                  // Add the li if creation
                                  if (status == "success") {
                                    $("#addresses_list").append("<li>" +
      results[0]['formatted_address'] + "</li>");
                                  }
                                    });
                      var marker = new google.maps.Marker({position: location,
                                                           map: map});
                      markersArray.push(marker);
                      break;
                 }
               }
            } else {
               console.log("No results for geocoder reverse lookup...");
            }
          } else {
            console.log("No response: " + status);
          }
        });
      }

      // Reset addresses on server-side and remove the UI here
      function resetAddresses(map) {
        $.post("{% url 'locations:location-empty' %}")
         .done(function (data) {
            $('#addresses_list').empty();
            clearOverlays();
            $('<div>Emptied...</div>').appendTo('.half-right').fadeOut('slow');
          });
      }

    </script>
    <script async defer src="http://maps.google.com/maps/api/js?callback=initMap"></script>
  </body>
</html>
